<!DOCTYPE html>
<html>
  <head>
    <title>Edit Profile | Handprint</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link rel="stylesheet" href="/stylesheets/base.css" />
    <link rel="stylesheet" href="/stylesheets/dashboard.css" />
    <link rel="shortcut icon" href="/favicon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/edit-profile.js"></script>
  </head>
  <body>

    {{>navbar}}
    
    <div id="feed">

      <div class="container">

          <div class="header">
            <h1>Manage Account</h1>
          </div>

          <div class="content">
            <div class="challenge-form">

              <div class="form-element" style="display:block">
                <h2>Name<span class="asterisk">*</span></h2>
                <!-- class changed from challenge-title -->
                <input type="text" name="name" class="name"></input>
              </div>

              <div class="form-element" style="display:block">
              <h2>Email<span class="asterisk">*</span></h2>
                <!-- class changed from challenge-description -->
                <input type="text" name="email"class="email"></input>
              </div>

              <div class="form-element" style="display:block">
                <h2>Location<span class="asterisk">*</span></h2>
                <!-- class changed from challenge-location -->
                <input type="text" class="location"></input>
              </div>

               <div class="form-element" style="display:block">
                <h2>Bio<span class="asterisk">*</span></h2>
                <!-- class changed from challenge-location -->
                <input type="text" class="bio"></input>

              <div class="button submit" id="edit-profile-button" value="submit"><h2>update</h2></div>

            </div>

            <div class="delete-form">
  
               <h3>Permanently delete my account</h3>

               <div class="button delete""><b>delete account</b></div>
            </div>
           
          </div>

          </div>
        </div>



      </body>
</html>
