<!DOCTYPE html>
<html>
  <head>
    <title>Handprint | Gamifying Volunteering</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="shortcut icon" href="favicon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/main.js"></script>
  </head>
  <body>
    <div class=title>
      <!--
      <h1> Be a Volunteer Tutor </h1>
      <h2> Inspire the Next Generation </h2>
      -->
    </div>
    <div class=boxed>
        <ul class="activityList">
            <li> Plant trees </li>
            <li> Distribute meals </li>
            <li> Build a home </li>
            <li> Clean the beach </li>
        </ul>
    </div>
    <div id="activityBoxes">
    
  </body>
</html>
