<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up | Handprint</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/base.css"/>
    <link rel="stylesheet" href="/stylesheets/register.css"/>
    <link rel="shortcut icon" href="/favicon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/js/register.js"></script>
  </head>
  <body>

    <nav> 
        <!-- Logo -->
        <div class="logo">
          <a href="/"><img src="/images/logo-white.png"></a>
        </div>
        <!-- Links -->
        <div class="links">
          <!--need to make /about in index.js-->
          <div><a href>About</a></div>
          <!--the following a hrefs should link to sign up page-->
          <div><a href="/register">Become an Organization</a></div>
          <div><a href="/register">Sign Up</a></div>
          <div><a href="/login">Login</a></div>
        </div>
      </nav>

    <div class="header">
      <div class="logo"><img src="/images/logo-white.png"></div>
      <h1>Sign Up</h1>
    </div>

    <div id="reg-form">

    <center><h2 style="font-weight:normal">I want to register as a</h2></center>

    <div id="mode-tab">
      <ul class="tab">
        <!-- javascript:void(0) keeps browser on same page -->
        <li><a href="javascript:void(0)" class="tab-links" 
          onclick="openForm(event, 'volunteer')"><h2>Volunteer</h2></a></li>
        <li><a href="javascript:void(0)" class="tab-links" 
          onclick="openForm(event, 'organization')"><h2>Organization</h2></a></li>
      </ul>
    </div>

    <div id="volunteer" class="tab-content">
        <p>Username<span class="asterisk">*</span></p>
        <input type="text" class="username" placeholder="tim" required></input>
        <p>Name<span class="asterisk">*</span></p>
        <input type="text" class="name" placeholder="Tim Beaver" required></input>
        <p>Email<span class="asterisk">*</span></p>
        <input type="text" class="email" placeholder="tim@mit.edu" required></input>
        <p>Password<span class="asterisk">*</span></p>
        <input type="password" class="password" placeholder="Password" required></input>
        <p>Bio</p>
        <input type="text" class="bio" placeholder="Hi! I am Tim Beaver."></input>
        <p>Location</p>
        <input type="text" class="location" placeholder="Cambridge, MA."></input>
        <div class="button submit">Submit</div>
    </div>

    <div id="organization" class="tab-content">
        <p>Username<span class="asterisk">*</span></p>
        <input type="text" class="username" placeholder="rfl" required></input>
        <p>Name<span class="asterisk">*</span></p>
        <input type="text" class="name" placeholder="Relay for Life" required></input>
        <p>Email<span class="asterisk">*</span></p>
        <input type="text" class="email" placeholder="rfl@rfl.org" required></input>
        <p>Password<span class="asterisk">*</span></p>
        <input type="password" class="password" placeholder="Password" required></input>
        <p>Location<span class="asterisk">*</span></p>
        <input type="text" class="location" placeholder="Boston, MA" required></input>
        <p>Description</p>
        <input type="text" class="description" placeholder="Hello!"></input>
        <div class="button submit">Submit</div>
    </div>
   
    </div>
    </div>
  </body>
</html>