html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	color: #303030;
	overflow-x: hidden;
}

*, *:hover {
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }

a {
	color: inherit;
	text-decoration: none;
}

nav {
	width: 100%;
	position: fixed;
	top: 0;
	padding: 5px;
	padding-top: 15px;
	padding-bottom: 10px;
	color: white;
	background: transparent;
}

nav a {
	opacity: 0.8;
}

nav a:hover {
	opacity: 1;
}

nav .logo {
	height: 40px;
	vertical-align: middle;
}

nav .logo img {
	height: 100%;
	vertical-align: middle;
}

nav .search  {
	opacity: 0.6;
	vertical-align: middle;
	padding: 5px;
}

nav .search input {
	font-family: inherit;
	background: transparent;
	padding: 10px;
	border: 0;
	color: white;
	font-size: inherit;
	width: 300px;
}

nav .search input::placeholder {
	color: white;
}

nav .search input:focus {
	opacity: 1;
	outline: none;
}

nav .search > * {
	display: inline-block;
	padding: 0px 5px;
}

nav .search img {
	height: 20px;
	vertical-align: middle;
}

nav .profile-picture  {
	width: 40px;
	height: 40px;
	border-radius: 50% 50%;
	background-position: 0 0;
	background-size: cover;
	border: 2px solid rgba(255, 255, 255, 0.5);
	padding: 5px;
}

nav .links {
	float: right;
}

nav.scrolled {
	background: white;
	color: #303030;
	border-bottom": 1px solid rgba(0, 0, 0, 0.5);
}

nav div {
	display: inline-block;
	margin: 0px 15px;
	vertical-align: middle;
}

@media screen and (max-width: 1200px) {

	nav {
		position: relative;
		padding: 5px;
		background: #252525;
		font-size: 0.8em;
	}

	nav .links {
		float: none;
	}

	nav div {
		margin: 0px 8px;
	}

	nav .profile-picture {
		width: 20px;
		height: 20px;
	}

}
