.container {
	width: 100%;
	margin: auto;
}

#feed {
	width: 100%;
	margin: auto;
}

#feed .header {
	width: 100%;
	color: white;
	background: linear-gradient(45deg, rgba(61, 158, 223, 0.8), rgba(16, 102, 213, 0.8)), url('/images/killian.jpg');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: none;
	padding: 25px;
	padding-top: 75px;
}

#feed .header h1 {
	font-size: 4em;
	text-align: center;
}

#feed .content {
	width: 65%;
	margin: auto;
	padding-top: 25px;
}

#feed .challenges {
	margin: 15px;
	padding: 10px 15px;
}

#feed .challenges {
	width: 90%;
}

#feed .challenges > h3, #feed .friends > h3 {
	padding: 15px 0px;
}

#feed .challenges h2, #feed .friends h2 {
	color: rgb(16, 102, 213);
	padding: 15px 0px;
}

#feed .challenge {
	padding: 10px 0px;
}

#feed .challenge p {
	padding: 0px;
	margin: 0px;
}

#feed .challenge div {
	display: inline-block;
	vertical-align: top;
}

#feed .challenge .challenge-points {
	width: 80px;
	text-align: center;
	color: #8ae967;
}

#feed .challenge .challenge-info {
	max-width: 70%;
	margin-left: 20px;
}

#feed .challenge .challenge-info > * {
	margin: 5px 0px;
}

#feed .challenge .challenge-title {
	font-size: 1.25em;
}

#feed .challenge .challenge-location {
	color: rgb(16, 102, 213);
	margin-top: 5px;
}

#feed .challenge .challenge-date {
	color: #808080;
}

#feed .challenge .challenge-location, #feed .challenge .challenge-date {
	font-size: 0.8em;
}
	
#feed .challenge .challenge-tags {
	margin: 5px 0px;
	font-size: 0.8em;
}

#feed .challenge .challenge-tags div {
	padding: 5px;
	margin: 5px;
	margin-left: 0px;
	border-radius: 1px;
	background: #efefef;
	color: #808080;
}
#feed .challenge-complete  {
	float: right;
	color:  rgba(16, 102, 213, 0.5);;
	padding: 10px 25px;
	border: 5px solid rgba(16, 102, 213, 0.5);
	text-transform: uppercase;
	letter-spacing: 4px;
	margin: 15px auto;
}

#feed .challenge-complete:hover {
	color: rgba(16, 102, 213, 0.8);
	border: 5px solid rgba(16, 102, 213, 0.8);
	cursor: pointer;
}

#feed .challenge-complete.completed {
	background: rgba(16, 102, 213, 1);
	color: white;
}

@media screen and (max-width: 1200px) {

	#feed .header {
		padding: 25px 0px;
	}

	#feed .header h1 {
		font-size: 2em;
	}

	#feed .challenge > div {
		display: block;
		margin: 5px;
	}

	#feed .challenge-complete  {
		float: none;
		position: static;
		margin: 5px 20px;
	}

	#feed .content, #feed .challenges, #feed .challenge .challenge-info {
		width: 100%;
		padding: 0;
	}

	#feed .header .container > * {
		display: block;
		margin: auto;
		margin: 15px;
		text-align: center;
	}

	#feed .header .info {
		width: 100%;
		margin: auto;
	}

}
