.header {
    width: 100%;
    color: white;
    background: linear-gradient(45deg, rgba(61, 158, 223, 0.6), rgba(16, 102, 213, 0.4)), url('/images/bench.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 75px 0px;
}

.header h1 {
    font-size: 4em;
    margin: auto;
}

.header div.logo {
    width: 150px;
    height: 150px;
    margin: auto;
    padding: 25px;
}

.header div.logo img {
    height: 100%;
}

h2.message {
    margin-top: 50px;
    text-align: center;
    color: #2cb679;
}

#login-form {
    max-width: 300px;
    padding-top: 25px;
    margin: auto;
}

#login-form input {
    min-width: 300px;
    border: none;
    outline: none;
    font-family: inherit;
    color: #808080;
    font-size: 1.5em;
    opacity: 0.5;
    display: block;
    margin: 5px 0px;
    padding: 0;
    background: transparent;
}

#login-form input:focus {
    opacity: 1;
}

#login-form p {
    font-size: 1.25em;
}

#login-form .button {
    background: rgba(16, 102, 213, 1);
    border: 5px solid rgba(16, 102, 213, 1);
    color: white;
    text-align: center;
    text-transform: uppercase;
    max-width: 150px;
    padding: 10px 15px;
    margin-top: 25px;
    opacity: 1;
}

#login-form .button h2 {

    margin: auto;
    font-weight: bold;
}

#login-form .button:hover {
    background: transparent;
    color: rgba(16, 102, 213, 1);
    cursor: pointer;
}

#login-form .asterisk {
    color: red;
    font-size: 0.8em;
    margin: 0px 5px;
}