#profile {
	width: 100%;
	margin: auto;
}

#profile h1, #profile h2, #profile h3, #profile p {
	margin: auto;
	line-height: auto;
}

#profile .profile-header {
	width: 100%;
	color: white;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	padding-top: 75px;
}

#profile .profile-header .container {
	width: 60%;
	padding: 50px;
	margin: auto;
}

#profile .profile-header .container > * {
	display: inline-block;
	vertical-align: middle;
}

#profile .profile-header h1 {
	font-size: 3em;
	line-height: 1em;
	margin: 15px 0px;
}

#profile .profile-header .user-bio, #profile .profile-header .org-description {
	margin-top: 10px;
}

#profile .profile-header .info {
	max-width: 400px;
	margin-left: 50px;
	text-align: left;
}

#profile .profile-header .stats {
	text-transform: uppercase;
	margin-left: 50px;
	font-size: 80%;
	text-align: center;
	letter-spacing: 4px;
}

#profile .profile-header .stats .user-level {
	background: rgba(255, 255, 255, 0.2);
	border: 5px solid white;
}

#profile .profile-header .stats > * {
	padding: 10px 15px;
	vertical-align: middle;
}

#profile .profile-header .container > * {
	display: inline-block;
	vertical-align: middle;
}

#profile .profile-picture {
	width: 200px;
	height: 200px;
	border-radius: 50% 50%;
	background-position: 0 0;
	background-size: cover;
	border: 5px solid rgba(255, 255, 255, 0.5);
	padding: 5px;
}

#profile .challenges, #profile .friends {
	vertical-align: top;
	display: inline-block;
	margin: 15px;
	padding: 10px 15px;
}

#profile .challenges {
	width: 55%;
}

#profile .friends {
	width: 30%;
}

#profile .challenges > h3, #profile .friends > h3 {
	padding: 15px 0px;
}

#profile .challenges h2, #profile .friends h2 {
	color: rgb(16, 102, 213);
	padding: 15px 0px;
}

#profile .content {
	width: 65%;
	margin: auto;
	padding-top: 25px;
}

#profile .friend {
	width: 100px;
	height: 100px;
	background-position: 50% 50%;
	background-size: cover;
	display: inline-block;
	position: relative;
}

#profile .friend p {
	color: white;
	position: absolute;
	bottom: 0;
	padding: 10px;
}

#profile .challenge {
	padding: 10px 0px;
}

#profile .challenge p {
	padding: 0px;
	margin: 0px;
}

#profile .challenge div {
	display: inline-block;
	vertical-align: top;
}

#profile .challenge .challenge-points {
	width: 80px;
	text-align: center;
	color: #8ae967;
}

#profile .challenge .challenge-info {
	max-width: 70%;
	margin-left: 20px;
}

#profile .challenge .challenge-info > * {
	margin: 5px 0px;
}

#profile .challenge .challenge-title {
	font-size: 1.25em;
}

#profile .challenge .challenge-location {
	color: rgb(16, 102, 213);
	margin-top: 5px;
}

#profile .challenge .challenge-date {
	color: #808080;
}

#profile .challenge .challenge-location, #profile .challenge .challenge-date {
	font-size: 0.8em;
}
	
#profile .challenge .challenge-tags {
	margin: 5px 0px;
	font-size: 0.8em;
}

#profile .challenge .challenge-tags div {
	padding: 5px;
	margin: 5px;
	margin-left: 0px;
	border-radius: 1px;
	background: #efefef;
	color: #808080;
}

#profile .challenge .challenge-users {
	display: block;
}

#profile .challenge .challenge-users ul {
	list-style-type: none;
	padding-left: 0;
}

#profile .challenge .challenge-users ul li {
	display: inline-block;
}

#profile .challenge .challenge-users ul li div {
	width: 25px;
	height: 25px;
	background-position: 50% 50%;
	border-radius: 50% 50%;
	background-size: cover;
	display: inline-block;
	position: relative;
}

#profile .challenge .challenge-users ul li div p {
	color: white;
	position: absolute;
	bottom: 0;
	padding: 10px;
}

#profile .button {
    color: white;
    text-align: center;
    text-transform: uppercase;
    max-width: 150px;
    padding: 10px 15px;
    margin-top: 25px;
    background: rgba(255, 255, 255, 0.4);
    border: 5px solid white;
}

#profile .button.follow {
	background: rgba(16, 102, 213, 0.5);
    border: 5px solid rgba(16, 102, 213, 0.5);
}

#profile .button.follow:hover {
	background: rgba(16, 102, 213, 1);
}

#profile .button.unfollow {
	background: rgba(232, 65, 75, 0.5);
	border: 5px solid rgba(232, 65, 75, 0.5);
}

#profile .button.unfollow:hover {
	background: rgba(232, 65, 75, 1);
}

#profile .button h2 {
    margin: auto;
    font-weight: bold;
}

#profile .button:hover {
	background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

@media screen and (max-width: 1000px) {

	#profile .content, #profile .challenges, #profile .friends, #profile .challenge .challenge-info {
		width: 100%;
		padding: 0;
	}

	#profile .profile-header {
		padding: 0;
	}

	#profile .profile-header .container > *, #profile .profile-picture {
		display: block;
		margin: 15px auto;
		text-align: center;
	}

	#profile .profile-header .info {
		width: 100%;
		margin: auto;
	}

	#profile .stats .user-level {
		max-width: 150px;
	}

	#profile .button {
		margin: 15px auto;
	}

}
