.header {
    width: 100%;
    color: white;
    background: linear-gradient(45deg, rgba(61, 158, 223, 0.6), rgba(16, 102, 213, 0.4)), url('/images/trees.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 50px 0px;
}

.header h1 {
    font-size: 4em;
    margin: auto;
}

.header div.logo {
    width: 150px;
    height: 150px;
    margin: auto;
    padding: 25px;
}

.header div.logo img {
    height: 100%;
}

h2.message {
    margin-top: 50px;
    text-align: center;
    color: #2cb679;
}

#reg-form {
    background: rgb(248, 248, 248);
    max-width: 400px;
    padding: 25px 40px;
    margin: auto;
    margin-top: 50px;
}

#reg-form input {
    min-width: 300px;
    border: none;
    outline: none;
    font-family: inherit;
    color: #808080;
    font-size: 1.5em;
    opacity: 0.5;
    display: block;
    margin: 5px 0px;
    padding: 0;
    background: transparent;
}

#reg-form input:focus {
    opacity: 1;
}

#reg-form p {
    font-size: 1.25em;
}

#reg-form div.radio, #reg-form div.radio > * {
    min-width: 0px;
    display: inline-block;
    margin-right: 5px;
}

#reg-form div.radio {
    margin-right: 15px;
}

#reg-form div.radio p {
    font-weight: bold;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#reg-form .divider {
    width: 100%;
    margin: 40px auto;
    border-bottom: 2px solid rgb(220, 220, 220);
}

#reg-form .button {
    opacity: 1;
    background: rgba(16, 102, 213, 1);
    border: 5px solid rgba(16, 102, 213, 1);
    color: white;
    text-align: center;
    text-transform: uppercase;
    max-width: 150px;
    padding: 10px 15px;
    margin-top: 25px;
}

#reg-form .button h2 {
    margin: auto;
    font-weight: bold;
}

#reg-form .button:hover {
    background: transparent;
    color: rgba(16, 102, 213, 1);
    cursor: pointer;
}

#reg-form .asterisk {
    color: red;
    font-size: 0.8em;
    margin: 0px 5px;
}